<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0">Lista de Materias</h3>
    <button class="btn btn-success btn-sm" routerLink="/menu/materias/formulario">Alta</button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th colspan="2">Costo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let materia of Materias">
        <td>{{ materia.nombre }}</td>
        <td style="width: 4px;">$</td>
        <td>{{ materia.costoMateria }}</td>
        <td>
          <button class="btn btn-warning btn-sm"
            [routerLink]="['/menu/materias/formulario', materia.idMateria]">Editar</button>
          <!-- <button class="btn btn-danger btn-sm" (click)="eliminarMateria(materia.idMateria)">Eliminar</button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>